.panel{
	color:#ffffff;
	font-size: 60px;
	text-align: center;
	width:33.33%;

}
.panel1 { background:#34e8db; }
.panel2 { background:#f0f821; }
.panel3 { background:#ff1809; }
.panel4 { background:#3498ff; }
.panel5 { background:#779999; }
.panel6 { background:#2208db; }
.panel7 { background:#0d2f10; }
.panel8 { background:#f000ff; }
.panel9 { background:#34280f; }
.panel10 { background:#dd9d90; }

.container {
	display:flex;
	height:100vh;
	flex-direction:row;
	flex-wrap: wrap;
}
